* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: #000 url("Hintergrund-Dashboard.jpg") no-repeat center center/cover; /* Fallback-Farbe und Hintergrund-Definition */
    color: white;
}

#header {
    padding: 40px 40px 5px 50px;
    background: transparent;
    color: white;
}

#header h1 {
    font-weight: 600;
    margin: 0 0 10px;
}

#header p {
    font-weight: 400;
    color: #CBEFF7;
}

#header hr {
    border: none;
    height: 2px;
    width: 29%;
    background-color: #ECCBF4;

}

/* Card designs */

#card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 40px 0;
}

.card {
    border-radius: 9px;
    background: white;
    margin: 10px;
    padding: 15px; /* Adjusted padding for top, right/left, bottom */
    width: calc(33.333% - 20px); /* Adjusted width for larger cards */
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: black;
    cursor: pointer;
}

#biology-card {
    background: #EDF9F5;
    color: #ADC9BF;

}

#biology-svg {
    fill: #8B0048;
}


#chemistry-card {
    background: #EFDFD5;
    color: #BC9F8F;
}


#geography-card {
    background: #CECCF2;
    color: #9393CC;
}

#history-card {
    background: #CCD6F2;
    color: #8D9FC6;
}

#mathematics-card {
    background: #ECCBF4;
    color: #A372AF;
}

#programming-card {
    background: #F2CCE4;
    color: #BC91AE;
}

.card img {
    object-fit: contain;
    margin-right: 250px;
    margin-left: 10px; /* Reduzierter linker Rand */
    margin-top: 10px; /* Reduzierter oberer Rand */

    width: 120px; /* Beispielgröße */
    height: auto;

}

.card:hover {
    transform: scale(1.02);
}

.card h2 {

    margin-right: 10px; /* Abstand zum rechten Rand */
    align-self: flex-end; /* Positioniert den Text am unteren Rand */

    font-weight: 600;
    font-size: 2.3rem;
    font-family: 'Montserrat', sans-serif;
}

.card p {
    margin-right: 10px; /* Abstand zum rechten Rand */
    align-self: flex-end; /* Positioniert den Text am unteren Rand */

    font-weight: 400;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
/* Card designs end */

#map-button {
    position: absolute;
    top: 40px;
    right: 180px;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    color: transparent;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 19px;

    background-image: url('Illustrations/Map-Btn.png'); /* Pfad zu deinem Hintergrundbild */
    background-size: contain; /* Bedeckt den gesamten Button, kann je nach Bedarf angepasst werden */
    background-position: center; /* Zentriert das Bild im Button */
    background-repeat: no-repeat;

    min-width: 50px; /* Mindestbreite */
    min-height: 50px; /* Mindesthöhe */
}

#logoutButton {
    position: absolute;
    top: 20px;
    right: 45px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 600;

    color: transparent;
    padding: 15px 20px;
    border-radius: 15px;
    margin-left: 15px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    display: inline-block; /* To allow margin to work */

    background-image: url('Illustrations/Logout-Btn.png');
    background-size: contain; /* Bedeckt den gesamten Button, kann je nach Bedarf angepasst werden */
    background-position: center; /* Zentriert das Bild im Button */
    background-repeat: no-repeat;
    background-color: transparent;
}

@media (max-width: 1024px) {
    .card {
        width: calc(50% - 20px); /* Larger cards on medium screens */
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        margin: 10px 0;
    }
}

#import-flashcards-btn {
    font-size: .9rem;
    background-image: linear-gradient(to right, #ff4d4d, #8A33B5);
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
    margin-left: 50px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}
#import-flashcards-btn:hover {
    transform: scale(1.05);
}
#import-flashcards-btn:active {
    background-color: #53416a;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Dim the background */
}

.modal-content {
    position: relative;
    background-color: #fefefe; /* White background */
    margin: 15% auto; /* Center the modal */
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    text-align: center; /* Center the text */
    color: #000000; /* Text color changed to black */
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Button styling */
.modal button {
    padding: 10px 20px;
    margin-right: 5px; /* Space between buttons */
    border: none;
    border-radius: 5px;
    background-color: #5a2d82;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.modal button:hover {
    background-color: #473067;
}

#successModal .modal-content {
    text-align: center;
}

#successOkButton {
    padding: 10px 20px;
    margin-top: 20px; /* Spacing above the button */
    border: none;
    border-radius: 5px;
    background-color: #5a2d82;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: block; /* To make it center */
    margin-left: auto;
    margin-right: auto;
}

#successOkButton:hover {
    background-color: #473067;
}


#delete-all-flashcards-btn {
    font-size: .9rem;
    background-image: linear-gradient(to right, #ff4d4d, #8A33B5);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    margin-left: 15px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block; /* To allow margin to work */
}


#goToQuizViewButton {
    font-size: 0.9rem;
    background-image: linear-gradient(to right, #ff4d4d, #8A33B5);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    margin-left: 15px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block; /* To allow margin to work */
}

#generate-quiz-button {
    font-size: 1rem;
    background-color: #ff4d4d; /* Red color for delete action */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    margin-left: 15px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block; /* To allow margin to work */
}

#generate-quiz-button:hover{
    background-color: #e04444; /* Darker shade for hover */
    transform: scale(1.05);
}

#delete-all-flashcards-btn:hover {
    background-color: #e04444; /* Darker shade for hover */
    transform: scale(1.05);
}

#quizView {
    font-size: .9rem;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    margin-left: 15px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block; /* To allow margin to work */
}

#quizView:hover {
    background-color: #e04444; /* Darker shade for hover */
    transform: scale(1.05);
}

#delete-all-flashcards-btn:active {
    background-color: #c03c3c;
}

/* Style adjustments for the modal buttons */
#confirmDelete, #cancelDelete {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1rem;
    display: inline-block;
}

#confirmDelete {
    background-color: #ff4d4d;
    color: white;
}

#cancelDelete {
    background-color: #6c5490;
    color: white;
    margin-left: 10px;
}

#confirmDelete:hover {
    background-color: #e04444;
}

#cancelDelete:hover {
    background-color: #5e497a;
}