* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #34264f;
    color: white;
}

#header {
    padding: 20px;
    background: transparent;
    color: white;
    text-align: left;
}

#header h1 {
    font-weight: 600;
    margin: 0 0 10px;
}

#header p {
    font-weight: 400;
}

#card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 20px 0;
}

.card {
    background: white;
    border-radius: 20px;
    margin: 10px;
    padding: 20px 20px 20px; /* Adjusted padding for top, right/left, bottom */
    width: calc(33.333% - 20px); /* Adjusted width for larger cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #333;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    margin: 0 0 5px 0; /* Added margin to the bottom of the subtitle */
    font-weight: 600;
}

.card p {
    margin: 0; /* Removed margin for the paragraph */
    font-weight: 400;
}

#map-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #5a2d82;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .card {
        width: calc(50% - 20px); /* Larger cards on medium screens */
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        margin: 10px 0;
    }
}

#import-flashcards-btn {
    font-size: 1rem;
    background-color: #6c5490; /* A shade of purple */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    /* Added 20px right margin */
    margin-left: 30px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

#import-flashcards-btn:hover {
    background-color: #5e497a;
}

#import-flashcards-btn:active {
    background-color: #53416a;
}


/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Dim the background */
}

.modal-content {
    position: relative;
    background-color: #fefefe; /* White background */
    margin: 15% auto; /* Center the modal */
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    text-align: center; /* Center the text */
    color: #000000; /* Text color changed to black */
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Button styling */
.modal button {
    padding: 10px 20px;
    margin-right: 10px; /* Space between buttons */
    border: none;
    border-radius: 5px;
    background-color: #5a2d82;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.modal button:hover {
    background-color: #473067;
}


#successModal .modal-content {
    text-align: center;
}

#successOkButton {
    padding: 10px 20px;
    margin-top: 20px; /* Spacing above the button */
    border: none;
    border-radius: 5px;
    background-color: #5a2d82;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: block; /* To make it center */
    margin-left: auto;
    margin-right: auto;
}

#successOkButton:hover {
    background-color: #473067;
}

#delete-all-flashcards-btn {
    font-size: 1rem;
    background-color: #ff4d4d; /* Red color for delete action */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block; /* To allow margin to work */
}

#delete-all-flashcards-btn:hover {
    background-color: #e04444; /* Darker shade for hover */
}

#delete-all-flashcards-btn:active {
    background-color: #c03c3c;
}

/* Style adjustments for the modal buttons */
#confirmDelete, #cancelDelete {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1rem;
    display: inline-block;
}

#confirmDelete {
    background-color: #ff4d4d;
    color: white;
}

#cancelDelete {
    background-color: #6c5490;
    color: white;
    margin-left: 10px;
}

#confirmDelete:hover {
    background-color: #e04444;
}

#cancelDelete:hover {
    background-color: #5e497a;
}