# Abhängigkeitsverzeichnisse
/node_modules/

# Umgebungsdateien
.env

# Sonar
.sonar

.idea/sonarlint
*.pb
*.iml

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Betriebssystem- und Editor-Dateien
.DS_Store
Thumbs.db
*.sublime*
.idea/
.vscode/
*.swp
*.swo

# Sicherheitskopien von Dateien, die von verschiedenen Editoren erstellt werden
*~
*.bak
*.tmp

# Kompilierte Dateien und Build-Verzeichnisse
/dist
/build
/temp

