/* index.html */
#backgroundContainer_Index {
    position: relative;
    width: 100%; /* Adjust if needed */
    height: 100vh; /* Adjust if needed */
    background-image: url("index.png");
    background-size: cover;
}

#loginButtonContainer_Index {
    position: absolute;
    top: 67.5%;
    left: 69%;
    width: 300px;
    height: 200px;
    background-color: transparent;
    z-index: 1;
}



#buttonStart {
    appearance: menulist-button;
    background-color: darkviolet;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}

#buttonStart:after {
    background-clip: padding-box;
    background-color: darkviolet;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#buttonStart:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

#buttonStart:disabled {
    cursor: auto;
}

#buttonStart:active {
    border-width: 4px 0 0;
    background: none;
}

