html, body {
    width: 100%;
    height: 100%;
    background-image: url("BackgroundEndingPage.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.congratulatory-message {
    background-color: rgba(31, 30, 30, 0.5);
    border: none;
    position: relative;
    margin: 50px auto;
    width: 50%; /* Sets the width to 50% of the parent element */
    max-width: 700px; /* Optional: Ensures that the div doesn't get too wide on large screens */
    padding: 20px;

    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    transition: all 0.3s ease;
}

.congratulatory-message:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.congratulatory-message h1 {
    margin-bottom: 15px;
    color: white;
    font-size: 1.75em;
}

.congratulatory-message p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 15px;
}

.congratulatory-message button {
    font-size: .9rem;
    background-image: linear-gradient(to right, #ff4d4d, #8A33B5);
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
    margin-left: 12px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}
.congratulatory-message button:hover {
    transform: scale(1.05);
}

.congratulatory-message p.reduced-margin {
    margin-bottom: -20px; /* Verringert den Abstand zum nächsten Paragraphen */
}