/* registration.html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#background-container-register{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("registration.png");
    background-size: cover;
}

#username_Register{
    -webkit-appearance: none; /* For Safari and Chrome */
    -moz-appearance: none; /* For Firefox */
    appearance: none; /* Standard syntax */
    position: absolute;
    background-color: transparent; /* Make the background transparent */
    position: absolute;
    border: none;  /* Remove the border */
    outline: none;  /* Remove the outline to avoid highlighting on focus */

    top: 38%;
    left: 65.3%;
    display: block;
    min-width: 300px;
    height: 48px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

#username_Register:focus {
    outline: none;
}

#password_Register {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 52%;
    left: 65.3%;
    display: block;
    min-width: 300px;
    height: 48px;
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

#password_Register:focus {
    outline: none;
}

#register_Register {
    background-image: linear-gradient(to right, #ff7e5f, #feb47b);
    border: none;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 19px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 63%;
    left: 64.7%;
    min-width: 420px;
    height: 60px;
    display: block;
}

#register_Register:hover {
    transform: scale(1.05);
}

#alreadyRegistered_Register{
    background-color: transparent;
    color: violet;
    position: absolute;
    top: 80.4%;
    left: 81.7%;
    border: none;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 19px;
    cursor: pointer;

}

#alreadyRegistered_Register:hover {
    text-decoration: underline;
}