
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-image: url("MapOhnePlaneten.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.space-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.planet {
    position: absolute;
    width: 170px;
    height: 175px;

    transition: transform 1.7s ease;
    cursor: pointer;
}


.planet:hover {
    /* 360 Grad Rotation */
    transform: rotate(360deg);
}

#planet1, #activatedPlanet1 {
    top: 420px;
    left: 200px;
}

#planet2, #activatedPlanet2 {
    top: 460px;
    left: 700px;
}

#planet3, #activatedPlanet3 {
    top: 420px;
    left: 1100px;
}

#planet4, #activatedPlanet4 {
    top: 300px;
    left: 430px;
}

#planet5, #activatedPlanet5 {
    top: 100px;
    left: 200px;
}

#planet6, #activatedPlanet6 {
    top: 80px;
    left: 700px;
}

#planet7{
    top: 3px;
    left: 1170px;

    width: 230px;
    height: 230px;
}

#activatedPlanet7{
    top: 3px;
    left: 1170px;

    width: 230px;
    height: 270px;
}

#xpValueText {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    right: 30px;
    bottom: 20px;
}

#xpValueToDisplay {
    color: palegoldenrod;
    font-size: 25px;
}

#backToDashboardButton {
    font-size: .9rem;
    border: none;
    border-radius: 15px;
    color: transparent;
    padding: 10px 20px;
    margin-left: 15px;
    margin-top: 20px;
    top: 15px; /* Abstand von oben */
    left: 1.5%; /* Ändern Sie "right" zu "left" */
    position: fixed;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;

    background-image: url('DashboardIconA.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 60%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border-radius: 20px; /* Abgerundete Ecken */
}

.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
}

.modal-image {
    display: none;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Stile für jedes Bild */
#CosmoStoryV {

    background-image: url('Dialogs/CosmoStoryV.png');

}
#CosmoStoryN {
    background-image: url('Dialogs/CosmoStoryN.png');
}

#WandaStoryV {

    background-image: url('Dialogs/WandaStoryV.png');

}
#WandaStoryN {
    background-image: url('Dialogs/WandaStoryN.png');
}

#AuroraStoryV {
    background-image: url('Dialogs/AuroraStoryV.png');
}

#AuroraStoryN {
    background-image: url('Dialogs/AuroraStoryN.png');
}

#MickyStoryV {
    background-image: url('Dialogs/MickyStoryV.png');
}
#MickyStoryN {
    background-image: url('Dialogs/MickyStoryN.png');
}

#PlutoStoryV {
    background-image: url('Dialogs/PlutoStoryV.png');
}

#PlutoStoryN {
    background-image: url('Dialogs/PlutoStoryN.png');
}

