:root {
    --background-panel: rgba(255, 255, 255, 0.1); /* Panel background */
    --accent-color: #62D2A2; /* Accent color for buttons and links */
    --text-color: #ffffff; /* Main text color */
    --button-hover-color: #ff7e5f; /* Button hover color */
    --border-radius: 8px; /* Border radius for buttons and cards */
}

body, html {

    font-family: 'Montserrat', sans-serif;
    background: #000 url("Hintergrund-Quiz.png") no-repeat center center/cover; /* Fallback-Farbe und Hintergrund-Definition */

    color: var(--text-color);
}

#backgroundContainer_quizView {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    padding: 50px ;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: 2rem;
}

#custom-quiz-generator {
    background: var(--background-panel);
    padding: 20px;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px; /* Adjust width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#custom-quiz-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#custom-quiz-form input[type='text'],
#custom-quiz-form button {
    padding: 10px;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
}

#custom-quiz-form button {
    background-color: var(--accent-color);
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#custom-quiz-form button:hover {
    background-color: var(--button-hover-color);
}

#exit-quiz {
    font-size: .9rem;
    border: none;
    border-radius: 15px;
    color: transparent;
    padding: 10px 20px;

    margin-left: 15px;
    margin-top: 20px;

    background-image: url('DashboardIcon.png');
    background-size: contain; /* Bedeckt den gesamten Button, kann je nach Bedarf angepasst werden */
    background-position: center; /* Zentriert das Bild im Button */
    background-repeat: no-repeat;
    background-color: transparent;

    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;

    top: 20px;
    right:4.5%;
    position: absolute;
}

#exit-quiz:hover {
    transform: scale(1.05);
}

#submitButton {
    font-size: 1rem;
    background-image: linear-gradient(to right, #ff4d4d, #8A33B5);
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
    margin-left: 50px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

#submitButton:hover {
    background-color: var(--button-hover-color);
}

#submitButtonGenerate{
    font-size: 1rem;
    font-family:Montserrat, sans-serif;
}

#quiz-name{
    font-size: 1rem;
    font-family:Montserrat, sans-serif;
}

#categories-placeholder {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

}

#categories-placeholder label {
    cursor: pointer;
    background: var(--background-panel);
    border-radius: var(--border-radius);
    padding: 10px;
    transition: background-color 0.3s ease;
    font-family: Montserrat, sans-serif;
    margin-right: 5px; /* Fügt rechts von der Checkbox einen Abstand hinzu */

}

#categories-placeholder label:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #backgroundContainer_quizView {
        padding: 20px;
    }
}

/* Flex container for quiz list */
.quiz-list-flexbox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between quiz containers */
    justify-content: flex-start; /* Align to the start or center as per design */
}

#quiz-list-container{
    margin-top: 3%;
}

/* Style for each quiz entry */
.quiz-entry {
    flex-basis: calc(33.333% - 20px); /* Subtract gap from width for three in a row */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: white;
    padding: 20px;
    margin-bottom: 20px; /* Space between rows */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the text inside the quiz-entry */
}

/* Responsive adjustments if needed */
@media (max-width: 768px) {
    .quiz-entry {
        flex-basis: calc(50% - 20px); /* Two per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .quiz-entry {
        flex-basis: 100%; /* One per row on very small screens */
    }
}

